<ion-header-bar class="bar-energized">
	<h1 class="title">Uchallenge</h1>
</ion-header-bar>
<ion-content>
	<div class="list">
		<div class="item" ng-click="navigationService.go('/quiz/' + idJogo)">Quiz</div>
		<div class="item" ng-click="navigationService.go('/problema/' + idJogo)">Problemas</div>
		<div class="item" ng-click="navigationService.go('/mapa/' + idJogo)">Mapa do Jogo</div>
		<div class="item" ng-click="navigationService.go('/conteudo/' + idJogo)">Conteudos</div>
	</div>
</ion-content>
