<!-- <ion-header-bar class="bar-stable">
	<h1 class="title">Uchallenge</h1>
</ion-header-bar> -->
<ion-content>
	<div class="text-center">
		<img src="#" alt="Logo" style="width: 80%; height: 150px">
	</div>
	<div class="list list-inset">
		<div class="item item-assertive" ng-if="errorMsg" ng-bind="errorMsg"></div>
	    <label class="item item-input">
	        <input type="text" ng-model="user" placeholder="Usuário">
	    </label>
	    <label class="item item-input">
	        <input type="password" ng-model="password" placeholder="Senha">
	    </label>
		<button class="item button button-stable button-block" ng-click="login(user, password)">Entrar</button>
		<button class="item button button-clear button-positive button-block">Fazer seu cadastro no aplicativo</button>
	</div>
</ion-content>
