<!-- <ion-header-bar class="bar-stable">
	<h1 class="title">Uchallenge</h1>
</ion-header-bar> -->
<ion-content>
	<div class="text-center">
		<img src="#" alt="Logo" style="width: 80%; height: 150px">
	</div>
	<div class="list list-inset">
	    <label class="item item-input">
	        <input type="text" placeholder="Usuário">
	    </label>
	    <label class="item item-input">
	        <input type="password" placeholder="Senha">
	    </label>
		<button class="item button button-stable button-block" ng-click="navigationService.go('/main')">Entrar</button>
		<button class="item button button-clear button-positive button-block">Fazer seu cadastro no aplicativo</button>
	</div>
</ion-content>
